<div class="container">
  <div class="accountcont">

<h2>Edit <%= resource_name.to_s.humanize %></h2>
<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

   <div class="form-horizontal">
    <div class="row">

        <%= f.label :avatar, :class => "col-sm-2 col-form-label"  %>
 <div class="col-sm-6">
        <%= f.file_field :avatar, :class => "form-control-file" %>
       </div>
  </div>
<p></p>

<div class="row">
    <%= f.label :name, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-6">
    <%= f.text_field :name, :class => "form-control", :type => "text", :readonly => false, autofocus: true %>
  </div></div>
    <p></p>
 
   <div class="row">
<%= f.label :gender, :class => "col-sm-2 col-form-label" %>
<div class="col-sm-6">
    <%= f.select :gender, [ 'Male','Female','Nonbinary', 'Prefer not to answer' ], :prompt => 'Select One', :class => "custom-select mr-sm-2" %></div>
</div><p></p>

<div class="row">
  <%= f.label :birthday,:class => "col-sm-2 col-form-label" %>
  <div class="col-sm-6">
    <%= f.date_select :birthday, 
    {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
    start_year: Date.today.year - 18, end_year: Date.today.year - 90},
    {required: true, :class => "custom-select mr-sm-2" } %>
    </div></div><p></p>

<div class="row">
    <%= f.label :email, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-6">
    <%= f.email_field :email, :class => "form-control", :type => "text", :readonly => true, autofocus: false %>
  </div></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="row">
    <%= f.label :password, :class => "col-sm-2 col-form-label" %>
  <small id="emailHelp" class="form-text text-muted"><i>(leave next two fields blank if you don't want to change it)</i></small>
    
    <div class="col-sm-6">
    <%= f.password_field :password, :class => "form-control mx-sm-3", autocomplete: "off" %>
    <% if @minimum_password_length %>
        <small id="emailHelp" class="form-text text-muted"><em><%= @minimum_password_length %> characters minimum</em></small>
      
    <% end %>
  </div></div>
  <p></p>

 <div class="row">
    <%= f.label :password_confirmation, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-6">
    <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
  </div></div>
  <p></p>
  <hr>

 <div class="row">
    <%= f.label :current_password, :class => "col-sm-2 col-form-label" %> <i>(we need your current password to confirm your changes)</i>
        <div class="col-sm-6">
    <%= f.password_field :current_password, :class => "form-control", autocomplete: "off" %>
  </div></div>
  <p></p>
</div>

<div class="actions">
  <div class="row">
    <%= f.submit "Update", :class => "btn btn-default" %>
 </div>
<% end %>
<hr>
<div class="col-sm-2 col-form-label">
<h3>Delete Account</h3>
</div>
<p>Unhappy? <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
 </div> <!-- div class form horizontal -->
<%= link_to "Back", :back %>
</div>
</div>