<table>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr class="post">
        <td>
         

          <%= link_to submission.title, submission, class: "title" %>
          <%= time_ago_in_words(submission.created_at) %> ago
          <!--<%= submission.post  %>-->
        </td>
        <tr class="post">
          <td> <p>by <%= submission.user.name %> | <%= link_to "#{submission.comments.count} comments", submission %> </p></td>
        </tr>
        <% end %>
        <% if @submissions.blank? %>
        <br>
          <h4>No submissions <%= params[:search] %></h4>
        <% end %>
  </tbody>
</table>