<p id="notice"><%= notice %></p>

<p>
  <strong>Release:</strong>
  <%= @beer.release %>
</p>

<p>
  <strong>Price:</strong>
  <%= @beer.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beer.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @beer.img_url %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
